@font-face {
    font-family: acorn;
    src: url(./img/acorn.ttf);
    font-display: swap;
}

@font-face {
    font-family: gt-font;
    src: url(./img/gt.ttf);
    font-display: swap;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.742);
    border-radius: .4rem;
}